
.body{
    font-family: 'Roboto Condensed', sans-serif;
}
.container{
    padding: 0px;
}
.header_bg{
    min-height: 650px;
    background-image: url(../img/header/background.png);
    padding-bottom: 86px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    font-family: 'Roboto Condensed', sans-serif;
    height: 90px;
    width: 100%;
}
.header_tel{
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    line-height: 27px;
}
.header_tel>h2:hover{
    color: #ffffff;
}
.number{
    color: #d0e0f9;
    font-weight: 400;
    padding-right: 22px;
    text-align: end;
}
.header_item-1>p{
    color:  #cfe0f9;;
}
.header_item-1{
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    line-height: 27px;
    
}
#navbarTogglerDemo03{
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;
}

.cars{
    text-align: center;
    margin-top: 94px;
}

li.menu_item{
    padding: 0px 35px;
    color: #cfe0f9;
}
.navbar{
    justify-content: flex-end;
}
#carousel-inner{
    width: 471px;
    height: 263px;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 50px;
    height: 100px;
    background-color: black;
}
.slider{
    background-color: #ffffffd3;
    border-radius: 20px;
    height: 263px; 

    margin: -180px 0px 0px 50px
 }
 .slider__item-content{
     text-align: left; 
     color: black;
     position: relative;
     min-width: 327px;
    margin-left: 109px;
    margin-right: 50px;
    min-height: 181px;
 }
 .slider__title{  
    font-size: 16px;
     line-height: 16px; 
     color:#000;
     font-weight: 400; 
     letter-spacing: 0.5px;
     margin-bottom: 22px; 
     font-family: Tahoma; 
    
 }
 .slider__title>h3{
     font-size: 34px;
     font-weight: 700;
 }
 .slider_tel-inner{
    color: #325388;
    font-size: 31px;
    font-weight: 700;
    line-height: 27px;
    font-family: Tahoma;
    padding-right: 10px;
    width: 312px;
    height: 31px;
    
}
    .slick-btn{ 
     position: relative;
     z-index: 3;
     width: 40px;
     height: 40px;
     border: none;
     background-color: transparent;
     cursor: pointer; 
     outline: none;
     background-repeat: no-repeat;
     background-position: center;
     
     }
     
     .slick-btn.slick-disabled{
        background-image: url(../img/slider/passive.png);
        }
        
     .slick-btn:before{
         position: absolute;
    
         
     }
     .navbar-nav {
        align-items: flex-end;
     }
 .slick-next{ 
    bottom: 184px;
    left: 41px;
    background-image: url(../img/slider/active.png);
 }
 .slick-next.slick-disabled{
    background-image: url(../img/slider/passive-up.png);
 }
 .slick-prev{    
    left: 41px;
    top: 199px;
    background-image: url(../img/slider/active-down.png);
 }
 button:focus{ 
     outline: none;
 }
 #navbarTogglerDemo03 {
     justify-content: center;
 }
 .nav-link{
     margin-top: 15px;
     padding: 0px; 
    }
.nav>a{
    color: #d3d2d2;
    background-color: #525456;
    padding: 20px 10px;
    margin: 2px;
    font-family: 'Roboto Condensed', sans-serif;
}
.nav>a:hover{
    color: #fffefe;
    background-color: #918f8f;
}
#plx{
    background-image: url(../img/parallax/parallax2.png);
    min-height: 455px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.repair_header{
    color:#ffffff;
    font-weight: bold;
    font-size: 33px;
    margin-bottom: 63px;
    margin-top: 25px;
}
.repair_inner{
    font-family: 'Roboto Condensed', sans-serif;
    color:#ffffff;
    font-weight: 300;
    font-size: 30px;
    padding-bottom: 54px;
}
.repair_inner_up{
    padding-bottom: 53px;
}

.services_header{
    color:#3a4e70;
    font-weight: bold;
    font-size: 33px;
    margin-bottom: 63px;
    margin-top: 83px;   
}
.services_inner{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #484747;
}

.services_inner:nth-child(4){
    text-align: center;
}
.remen{
    text-align: end;
}
.disc{
    text-align: end;
}
.conditioner{
    text-align: end;
}
.tire{
    text-align: start;
}

.tire_name{
    font-size: 26px;
    line-height: 31px;
    font-family: 'Roboto Condensed', sans-serif;
    border-left: 3px solid #325388;
    height: 100%;
}

.tire_bg{
    background-image: url(../img/tire/tire.png);
    min-height: 540px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.tire_header{
    color:#ffffff;
    font-weight: bold;
    font-size: 33px;
    margin-bottom: 63px;
    padding-top: 35px;
}
.volkswagen{
    color: #000000;
	font-size: 31px;
	font-weight: 700;
	line-height: 30px;
	padding: 23px 32px 30px 0;
	text-align: right;
}
.volkswagen>span{
    color: #fefefe;
	font-family: Tahoma;
	font-size: 27px;
	font-weight: 400;
}
.toureg>img{
    padding-top: 27px;
}
.jetta>img{
    padding-top: 80px;
}
.polo>img{
    padding-top: 60px;
}
.tire_number{
    min-height: 223px;
    font-family: "Roboto Condensed";
    padding-top: 28px;
}
.number1{
    text-align: end;
    padding-bottom: 20px;
}
.tire_vw{
    color: #484747;
    font-size: 23px;
    font-weight: 400;
}
.tire_tel{
    font-size: 40px;
    font-weight: 700;
    color: #325388;
    line-height: 27px;
    padding-top: 14px;
}
.description{
    max-width: 552px;
    color: #777777;
    font-weight: 400;
    min-height: 98px;
}
.oil_bg{
    background-color:#8b8989;
    padding-bottom: 40px;
}
.oil_header{
    color:#ffffff;
    font-weight: bold;
    font-size: 33px;
    margin-bottom: 53px;
    padding-top: 32px;
}
.map_header{
    color:#3a4e70;
    font-weight: bold;
    font-size: 33px;
    margin-bottom: 35px;
    margin-top: 66px; 
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.footer_bg{
    background-color:#415f88;
    min-height: 180px;
}
.footer{
    font-family: "Roboto Condensed";
}

@media (min-width: 992px) {
    .car_bg{
    background-image: url(../img/services/car.png);
    min-height: 648px;
    background-repeat: no-repeat;
    background-position: center;
    }
}

@media (max-width: 1200px) {
    #navbarTogglerDemo03 {
        margin-top: 40px;
    }
}

@media (max-width: 992px) {
    .banner {
        visibility: hidden;
    }
    .services_inner {
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
    .remen,.disc,.conditioner,.tire {
        text-align: center;
    }

} 
@media (max-width: 768px) {
    .banner {
        visibility: hidden;
    }
    .services_inner {
        font-size: 2rem;
        margin: 0;
        padding: 0;
    }
    .remen,.disc,.conditioner,.tire {
        text-align: center;
    }
    .header_tel h2{
        font-size: 1.5rem;
    }
    .header_item-1 h2{
        font-size: 1.5rem;
    }
} 
@media (max-width: 576px) {
    .slider {
        visibility: hidden;
    }
     .indent {
        margin-top: 150px;
        margin-left: 10px;
    } 
    .indent h2, .indent p{
        color: rgb(251, 252, 255);
        margin: 0 auto;
    }
    .header_tel h2{
        color: #FFF;
    }
    .number{
        color: #FFF;
        display: none;
    }
    .repair_inner {
        font-size: 1rem;
    }
    .header_item-1 {
        top: -116px;
      
        position: absolute;
    }
    .header_tel {
        display: none;
    }
 
} 